{{#each this}}
<li class="col-6-sm col-4-md col-3-lg gallery__photo" data-src="{{largeImageURL}}">
    <div class="photo-card">
        <div class="photo-card__wrapper">
            <img src="{{webformatURL}}" alt="small gallery image" width="280" class="photo-card__image" />
        </div>
        <div class="row">
            <p class="stats-item col-6">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item col-6">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
        </div>
        <div class="row">
            <p class="stats-item col-6">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item col-6">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}